$small-screen: 480px;
$big-screen: 1000px;

$accent-color: deeppink;

$font: 'Catamaran', sans-serif;
$big-font: "Hind Siliguri", sans-serif;
$font-size: 1.4em;
$big-font-size: 2.2em;

$texture: url(../img/dark-triangles.png);