$small-screen: 480px;
$big-screen: 1000px;

$primary-color:black;
$accent-color: deeppink;

$font: 'Catamaran', sans-serif;
$big-font: "Hind Siliguri", sans-serif;
$font-size: 1.4em;
$big-font-size: 2.2em;

$texture: url(../img/dark-triangles.png);

$section-margin: 5% 0%;
$small-margin: 2%;
$small-padding: 1%;

$sprite-size:80px;
$photo-size:400px;
