@import "mixins";
@import "base-styles";

.container1{
    font-size:$big-font-size !important;
    @media screen and (min-width: $big-screen) {
        font-size:$font-size !important;
    }
}

body{
    height:100%;
    font-family: $font;
}

.col-12{
    padding: 0px;
}

.row{
    margin: 0px;
}

.menu{
    @include menu;
}

.content{
    .pic{
        background: url(../img/bellas-artes.jpg);
        height: 630px;
        padding: 0px;
        background-repeat: round;
    }
    .slogan-text{
        font-family: $big-font;
        font-weight: 700;
        font-size: 2em;
        color: white;
        padding: 3%;
        margin: 4%;
        bottom: 0px;
        position: absolute;
        border: 10px solid white;
        width: 66%;
        background: rgba(0,0,0,0.2);
    }
    .blurb{
        margin: 2%;
        padding: 5%;
    }
    
    button{ 
        margin-left: 34%;
        @media screen and (min-width: $big-screen) {
            margin-left:40%;
        }
        @include button;
    }
}

.footer{
    @include footer;
}