.container1 {
  font-size: 2.2em !important;
}
@media screen and (min-width: 1000px) {
  .container1 {
    font-size: 1.4em !important;
  }
}

body {
  height: 100%;
  font-family: "Catamaran", sans-serif;
}

.col-12 {
  padding: 0px;
}

.row {
  margin: 0px;
}

.menu {
  background: url(../img/dark-triangles.png);
  padding: 0px;
  margin: 0px;
  position: relative;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
}
.menu .logo {
  width: 180px;
  position: absolute;
  z-index: 2;
  left: 39%;
}
@media screen and (min-width: 1000px) {
  .menu .logo {
    left: 44%;
  }
}
.menu .menu-button {
  background: none;
  color: white;
  margin: 20px 40px;
  float: right;
}
@media screen and (min-width: 1000px) {
  .menu .menu-button {
    padding: 1% 2%;
    border: 6px solid deeppink;
  }
}
@media screen and (max-width: 1000px) {
  .menu .menu-button {
    border: 7px solid deeppink;
    padding: 2% 3%;
  }
}
.menu h1 {
  text-align: center;
  padding: 3%;
}
@media screen and (min-width: 1000px) {
  .menu h1 {
    padding: 1%;
  }
}

.content .pic {
  background: url(../img/bellas-artes.jpg);
  height: 580px;
  padding: 0px;
  background-repeat: round;
}
.content .slogan-text {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
  padding: 3%;
  margin: 4%;
  bottom: 0px;
  position: absolute;
  border: 10px solid white;
  width: 66%;
  background: rgba(0, 0, 0, 0.2);
}
.content .blurb {
  margin: 2%;
  padding: 5%;
}
.content button {
  margin-left: 34%;
  border: none;
  background-color: deeppink;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  margin-top: 5%;
  padding: 2% 3%;
}
@media screen and (min-width: 1000px) {
  .content button {
    margin-left: 40%;
  }
}

.footer {
  background: url(../img/dark-triangles.png);
}

button {
  border: none;
  background-color: deeppink;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  margin-top: 5%;
  padding: 2% 3%;
}

.container1 {
  font-size: 2.2em;
}
@media screen and (min-width: 1000px) {
  .container1 {
    font-size: 1.4em;
  }
}

.details .photos {
  background: url(../img/bache.jpg);
  height: 400px;
}
.details .map {
  background: url(../img/mapa.JPG);
  height: 400px;
}
.details button {
  width: 100%;
  display: block;
  padding: 5% 0%;
}
.details .desc-container {
  margin: 5% 0%;
}
.details .desc-buttons {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.details .desc-buttons button {
  width: 100%;
  display: block;
  padding: 10% 0%;
}
.details .desc-buttons #reportar {
  background-color: black;
}
.details .link button {
  margin-top: 0%;
  padding: 3% 0%;
}
.details .sprites .sprite {
  height: 80px;
  width: 88px;
}
.details .sprites img {
  margin: 0% 5%;
}

.comments {
  margin: 5% 0%;
}
.comments .col-12, .comments .col-6, .comments .col-9, .comments .col-3 {
  padding: 0% 2%;
}
.comments textarea {
  width: 100%;
  padding: 1%;
  outline: 1px solid gray;
  box-shadow: none;
  border-bottom: none;
}
.comments .send-button button {
  margin-top: 0px;
  float: right;
}
.comments .comment-item {
  border: 2px solid deeppink;
  margin: 2%;
  padding: 1%;
}
.comments .comment-item .interactions {
  padding: 0px;
  text-align: center;
}
.comments .comment-item .interactions .sprite {
  height: 40px;
  width: 60px;
}

.user-profile img {
  width: 90px;
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 2%;
}
.user-profile .logo1 {
  position: absolute;
  left: 13px;
  top: 11px;
  width: 52px !important;
}
.user-profile menu {
  background: url(../img/dark-triangles.png);
  padding: 0px;
  margin: 0px;
  position: relative;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
}
.user-profile menu .logo {
  width: 180px;
  position: absolute;
  z-index: 2;
  left: 39%;
}
@media screen and (min-width: 1000px) {
  .user-profile menu .logo {
    left: 44%;
  }
}
.user-profile menu .menu-button {
  background: none;
  color: white;
  margin: 20px 40px;
  float: right;
}
@media screen and (min-width: 1000px) {
  .user-profile menu .menu-button {
    padding: 1% 2%;
    border: 6px solid deeppink;
  }
}
@media screen and (max-width: 1000px) {
  .user-profile menu .menu-button {
    border: 7px solid deeppink;
    padding: 2% 3%;
  }
}
.user-profile menu h1 {
  text-align: center;
  padding: 3%;
}
@media screen and (min-width: 1000px) {
  .user-profile menu h1 {
    padding: 1%;
  }
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.h1-1 {
  font-size: 1em;
}

.menu-e {
  background: url(../img/dark-triangles.png);
  padding: 0px;
  margin: 0px;
  position: relative;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  margin-bottom: 2%;
}
.menu-e .logo {
  width: 180px;
  position: absolute;
  z-index: 2;
  left: 39%;
}
@media screen and (min-width: 1000px) {
  .menu-e .logo {
    left: 44%;
  }
}
.menu-e .menu-button {
  background: none;
  color: white;
  margin: 20px 40px;
  float: right;
}
@media screen and (min-width: 1000px) {
  .menu-e .menu-button {
    padding: 1% 2%;
    border: 6px solid deeppink;
  }
}
@media screen and (max-width: 1000px) {
  .menu-e .menu-button {
    border: 7px solid deeppink;
    padding: 2% 3%;
  }
}
.menu-e h1 {
  text-align: center;
  padding: 3%;
}
@media screen and (min-width: 1000px) {
  .menu-e h1 {
    padding: 1%;
  }
}

.newEvent-form input {
  width: 100%;
}

.container-fluid {
  font-size: 1em;
}

.menu {
  background: url(../img/dark-triangles.png);
  padding: 0px;
  margin: 0px;
  position: relative;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
}
.menu .logo {
  width: 180px;
  position: absolute;
  z-index: 2;
  left: 39%;
}
@media screen and (min-width: 1000px) {
  .menu .logo {
    left: 44%;
  }
}
.menu .menu-button {
  background: none;
  color: white;
  margin: 20px 40px;
  float: right;
}
@media screen and (min-width: 1000px) {
  .menu .menu-button {
    padding: 1% 2%;
    border: 6px solid deeppink;
  }
}
@media screen and (max-width: 1000px) {
  .menu .menu-button {
    border: 7px solid deeppink;
    padding: 2% 3%;
  }
}
.menu h1 {
  text-align: center;
  padding: 3%;
}
@media screen and (min-width: 1000px) {
  .menu h1 {
    padding: 1%;
  }
}
.menu .logo {
  width: 180px;
  position: absolute;
  z-index: 2;
  left: 39%;
}
@media screen and (max-width: 625px) {
  .menu .logo {
    vertical-align: left;
    width: 90px;
  }
}
.menu .register {
  margin-top: 0px;
  padding: 0%;
}
.menu button {
  background: none;
  border: none;
  color: white;
  float: right;
}
.menu .login-button {
  font-size: 0.8em;
}

.register-page .pic {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.register:hover {
  color: blue;
}

.login:hover {
  color: blue;
}

.container {
  padding: 6px;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.register-form input[type=text]:focus, .register-form input[type=password]:focus, .register-form input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
.register-form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.register-form .registerbtn {
  border: none;
  background-color: deeppink;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  margin-top: 5%;
  padding: 2% 3%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.register-form .registerbtn :hover {
  opacity: 1;
}
.register-form .signin {
  text-align: center;
}

.footer {
  color: white;
  font-size: 25px;
}
.footer button {
  border: none;
  background-color: deeppink;
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  margin-top: 5%;
  padding: 2% 3%;
}
.footer .contact {
  width: 100%;
}
@media screen and (max-width: 625px) {
  .footer img {
    width: 50px;
    height: 50px;
    margin-left: 45%;
  }
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

a {
  color: deeppink !important;
}

.row {
  margin: 0px;
}

.carousel-inner {
  height: 350px;
}

/*# sourceMappingURL=styles.css.map */
