.container-fluid{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}

.col-12{
    padding: 0px;
}

.row{
    margin: 0px;
}

.menu{
    background: url(../img/concrete_wall.png);
    padding: 0px;
    margin: 0px;
    position: relative;
    .logo{
        width: 180px;
        position: absolute;
        z-index: 2;
        left: 39%;
    }
    .register{
        font-size: 12px;
        margin-top: 0px;
        padding: 0%;
    }
    button{
        background: none;
        border:none;
        color:white;
        margin: 25px;
        float: right;
        :hover{
            color: blue;
            background-color: blue;
        }
        
    }
}
.register-page{
    .pic{
    background: url(../img/angel.jpg);
    height: 100%;
    width: 100%;
    padding: 0px;
    }
}
.content{
    .pic{
        background: url(../img/bellas-artes.jpg);
        height: 630px;
        padding: 0px;
    }
}


.footer{
    background: url(../img/dark-triangles.png);
    
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.register:hover {
    color: blue;
}
.login:hover{
    color: blue;
}



.container {
  padding: 16px;
}

/* Add padding to containers */
.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .register-form{
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    .registerbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        :hover {
            opacity:1;
        }
      }
      a {
        color: dodgerblue;
      }
      .signin {
        color: white;
        text-align: center;
      }
  }
  