@mixin button{
   border:none;
   background-color: $accent-color;
   color:white;
   font-family: $big-font;
   font-weight: 700;
   margin-top: 5%;
   padding: 2% 3%;
}

@mixin logo{
    width: 160px;
    max-height: 110px;
    @media screen and (min-width: $big-screen) {
        left:44%;
    }
}
    
@mixin menu-button{
    background: none;
    color: white;
    float: right;
    position: relative;
    top:26%;
    rigth: 9%;
    border: 7px solid deeppink;
    padding: 2% 3%;
    @media screen and (min-width: $big-screen) {
        padding: 1% 2%;
        border: 6px solid deeppink;
        top:10%;
        font-size: $font-size/2;
    }
}

@mixin menu-buttonRI{
    @include menu-button;
    @media screen and (min-width: $big-screen) {
        font-size: $font-size;
    }
}

@mixin menu{
    background: url(../img/dark-triangles.png);
    padding: 0px;
    margin: 0px;
    position: relative;
    color: white;
    font-family: $big-font;
    .logo{
        @include logo;
    }
    .menu-button{
        @include menu-button;
    }
    .menu-buttonRI{
        @include menu-buttonRI;
    }
    h1{
        text-align: center;
        padding:3%;
        @media screen and (min-width: $big-screen) {
            padding: 1%;
        }
    }
    form{
        position: relative;
        height: 100%;
    }
}

@mixin footer{
    background: $texture;
}
