@import "mixins";
@import "base-styles";
@import "index";
@import "event-details";
@import "user-profile";
@import "new-event";
@import "register";
@import "exploreEvent";

.container-fluid{
    margin: 0px;
    padding: 0px;
}

a{
    color:$accent-color !important;
}

.row{
    margin: 0px;
}

.carousel-inner{
    height: 550px;
}
