@import '../../../theme';


.menu{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: $texture;
    position: relative;
    color: white;
    font-family: $big-font;
    .logo{
        width: $logo-width;
	    max-height: $logo-height;
	    @media screen and (min-width: $big-screen) {
	        left:44%;
	    }
    }
    h1{
        text-align: center;
        padding:3%;
        @media screen and (min-width: $big-screen) {
            padding: 1%;
        }
    }
    form{
        position: relative;
        height: 100%;
    }
    .menu-button{
	    @include menu-button;
	}
}