<div class="container-fluid container">
    <app-carrusel></app-carrusel>
    <section class="title">
        <div class="row">
            <div class="col-12">
                <h1>{{events.titulo}}</h1>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 photos">
                <div class="photos"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 map">
                <div class="map"></div>
            </div>
        </div>
        <div class="row desc-container">
            <div class="col-md-9 col-lg-9 col-sm-12 description">
                <p>{{events.titulo}} en {{events.direccion}}. Reportado el {{events.fecha}} </p>
                <p>{{events.descripcion}}</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 desc-buttons">
                <button class="btn btn-primary" id="reportar" (click)="modifyUser()">Reportar</button>
                <button class="btn btn-primary" id="quejas" (click)="modifyUser()">Marcar resuelto</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 link pb-4">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 sprites text-center">
                <img alt="Twitter" class="sprite" src="../../../assets/img/twitter.png"/>
                <img alt="Facebook" class="sprite" src="../../../assets/img/fb.png"/>
                <img alt="Hyperlink" class="sprite" src="../../../assets/img/share-link.png"/>
            </div>
        </div>
    </section>
</div>
