<div class="container-fluid">
    <section class="title">
        <div class="row">
            <div class="col-12">
                <h1>{{events.titulo}}</h1>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 photos">
                <div class="photos"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 map">
                <div class="map"></div>
            </div>
        </div>
        <div class="row desc-container">
            <div class="col-md-9 col-lg-9 col-sm-12 description">
                <p>{{events.titulo}} en {{events.direccion}}. Reportado el {{events.fecha}} </p>
                <p>{{events.descripcion}}</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 desc-buttons">
                <button class="btn btn-primary" id="reportar" onclick="javascript:alert('Se llamará al policía más cercano'); window.location.href = 'tel:911';">911</button>
                <button class="btn btn-primary" id="quejas" onclick="javascript:alert('Tu queja será tomada en cuenta');">Quejas</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 link pb-4">
                <button class="btn btn-primary" onclick="javascript:window.location.href = 'exploreEvent.html'">Más info</button>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 sprites text-center">
                <img alt="Twitter" class="sprite" src="../../../assets/img/twitter.png"/>
                <img alt="Facebook" class="sprite" src="../../../assets/img/fb.png"/>
                <img alt="Hyperlink" class="sprite" src="../../../assets/img/share-link.png"/>
            </div>
        </div>
    </section>
</div>
