<div class="container-fluid container1">
        <section class="menu">
            <div class="row">
                <div class="col-12">
                    <h1>{{events.titulo}}</h1>
                </div>
            </div>
        </section>
        <section class="details">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 photos">
                    <div class="photos"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 map">
                    <div class="map"></div>
                </div>
            </div>
            <div class="row desc-container">
                <div class="col-md-9 col-lg-9 col-sm-12 description">
                    <p>{{events.titulo}} en {{events.direccion}}. Reportado el {{events.fecha}} </p>
                    <p>{{events.descripcion}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 desc-buttons">
                    <button id="reportar" onclick="javascript:alert('Se llamará al policía más cercano'); window.location.href = 'tel:911';" class="btn">911</button>
                    <button class="btn" id="quejas" onclick="javascript:alert('Tu queja será tomada en cuenta');">Quejas</button>
                </div> 
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 link pb-4">
                    <button class="btn" onclick="javascript:window.location.href = 'exploreEvent.html'">Más info</button>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 sprites text-center">
                    <img alt="" class="sprite" src="/assets/img/twitter.png"/>
                    <img alt="" class="sprite" src="/assets/img/fb.png"/>
                    <img alt="" class="sprite" src="/assets/img/share-link.png"/>
                </div>
            </div>
        </section>
        <section class="comments">
            <div class="row">
                <div class="col-12 input-comment">
                    <textarea placeholder="Inserta un comentario..." rows="4"></textarea> 
                </div>
            </div>
            <div class="row">
                <div class="col-12 send-button">
                    <button class="btn" onclick="javascript:alert('Comentario enviado');">Enviar</button>
                </div>
            </div>
            <div class="row comment-item">
                <div class="col-10">
                    <p>Qué mala onda que no los arreglen :/ .</p>
                </div>
                <div class="col-2 interactions">
                    <img alt="" class="sprite like" src="/assets/img/like-off.png"/>
                    <p>38</p>
                    <img alt="" class="sprite dislike" src="/assets/img/dislike-off.png"/>
                </div>
            </div>
            <div class="row comment-item">
                <div class="col-10">
                    <p>Ya lleva un mes ahí :v </p>
                </div>
                <div class="col-2 interactions">
                    <img alt="" class="sprite like" src="/assets/img/like-off.png"/>
                    <p>26</p>
                    <img alt="" class="sprite dislike" src="/assets/img/dislike-off.png"/>
                </div>
            </div>
        </section>
    </div>