$small-screen: 480px;
$medium-screen: 590px;
$big-screen: 690px;

$primary-color:white;
$primary-bg: deeppink;

$default-text-color:black;
$secondary-text-color:lightgrey;
$accent-color: deeppink;

$input-bg: #f1f1f1;

$font: 'Catamaran', sans-serif;
$big-font: "Hind Siliguri", sans-serif;
$font-size: 1.4em;
$big-font-size: 2.2em;

$texture: url(../../../assets/img/dark-triangles.png);

$logo-width: 150px;
$logo-height: 120px;

$section-margin: 5% 0%;
$small-margin: 2%;
$small-padding: 1%;

$sprite-size:60px;
$photo-size:400px;

.btn{
	font-family: $big-font;
    font-weight: 700;
}

@mixin menu-button{
    background: none;
    color: $primary-color;
    float: right;
    position: relative;
    top:26%;
    right: 9%;
    border: 4px solid deeppink;
    padding: 9% 14%;
    @media screen and (min-width: $big-screen) {
        padding: 3% 5%;
        border: 4px solid deeppink;
        top:25%;
        font-size: $font-size;
    }
}

@mixin register-form{
    input[type=text], input[type=password], input[type=email], input[type=date], input[type=file], .custom-file-input {
        width: 100%;
        padding: 15px;
        margin: 1% 0;
        display: inline-block;
        border: none;
        background: $input-bg;
    }
    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=file]:focus, .custom-file-input:hover {
        background-color: #ddd;
        outline: none;
    }
    p{
    	margin-bottom: 2%; 
    	margin-top: 2%;
    }
    hr {
        border: 1px solid $input-bg;
        margin-bottom: 25px;
    }
    .signin {
        text-align: center;
    }
    .submit-btn{
    	margin-top: 10%;
        width: 100%;
    }
}

@mixin required-mark{
	color: red;
    width: 2px;
    display: inline;
    margin: 0 1%;
    font-size: 1.1em;
}

@mixin padded{
    padding: 33px;
}