<script src="/assets/js/maps.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 pt-3">
            <h3>Crea un evento</h3>
            <hr>
        </div>
    </div>
    <section class="newEvent-form">
       <form [formGroup]="createEventForm" (ngSubmit)=enviarFormulario()>
          <div class="container">
             <div class="row">
                 <div class="col-sm-12 col-md-12 col-lg-12">
                    <div *ngIf="titulo.errors?.required" class="required-mark">*</div>
                     <label>Título</label>
                     <input id="titulo" class="form-control form-control-lg" type="text" formControlName="titulo" required placeholder="Título">
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-6 col-md-6 col-lg-6">
                    <div *ngIf="direccion.errors?.required" class="required-mark">*</div>
                     <label>¿Dónde?</label>
                     <input class="form-control form-control-lg" type="text" formControlName="direccion" placeholder="Dirección" required>
                     <div *ngIf="descripcion.errors?.required" class="required-mark">*</div>
                     <label>Descripción</label>
                     <input class="form-control form-control-lg" type="text" formControlName="descripcion" placeholder="Descripción" required>
                 </div>
                 <div class="col-sm-6 col-md-6 col-lg-6 ">
                     <div id="map">
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-12 col-md-12 col-lg-12">
                     <label>Enlace al evento</label>
                     <input class="form-control form-control-lg" formControlName="link" type="text" placeholder="Link">
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-12 col-md-12 col-lg-12">
                    <div *ngIf="fecha.errors?.required" class="required-mark">*</div>
                    <label>Fecha</label>
                     <input class="form-control form-control-lg" formControlName="fecha" type="date" required>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Foto</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                 </div>
             </div>
             <div class="row justify-content-center">
                 <div class="col-sm-4 col-md-4 col-lg-4">
                     <button type="submit" class="submit-btn btn btn-primary">Enviar</button>
                 </div>
             </div>
           </div>
        </form>
    </section>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtQKl2wqACda5_ytIqU1V84hLISGSmw7g&callback=myMap"></script>