          <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
              <h3 class="pb-2 eR">Nuevos eventos</h3>
                <table class="table table-hover">
            <tbody>
              <tr *ngFor="let event of events; let i = index" [attr.data-index]="i">
                  <td><a [routerLink]="['/event-details/', i+1]">{{event.titulo}}</a></td>
              </tr>
            </tbody>
            
          </table>
            </div>
        </div>