<div class="container-fluid user-profile">
    <div class="col-12 menu">
        <h1 class="text-center">{{nombre}}</h1>
        <img alt="user_img" src="/assets/img/user.png">
    </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs pt-4 pl-2" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" routerLink="/profile">Editar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/profile/saved">Salvado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/profile/published">Publicado</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
