<div class="container-fluid container1">
    <section class="content">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-12 pic">
                <div class="slogan-text">
                    Entérate de lo que está pasando
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-12 blurb">
                <p>Voz Urbana es un portal a través del cual puedes notificar de sucesos que son relevantes para todos los que vivimos en la ciudad desde baches hasta crímenes, fiestas y conciertos. Entérate de lo que pasa a tu alrededor para que no te pierdas de la vida en la ciudad y estés siempre alerta. </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-12 text-center">
                <form action="register.html">
                    <a routerLink="/register">
                    <button class="btn btn-primary">
                        ¡Únete ahora!
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>