<div class="container-fluid">
	<section class="comments">
	    <div class="row">
	        <div class="col-12 input-comment">
	            <textarea placeholder="Inserta un comentario..." rows="4"></textarea> 
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-12 send-button">
	            <button class="btn btn-primary" onclick="javascript:alert('Comentario enviado');">Enviar</button>
	        </div>
	    </div>
	    <div class="row comment-item">
	        <div class="col-10">
	            <p>Qué mala onda que no los arreglen :/ .</p>
	        </div>
	        <div class="col-2 interactions">
	            <img alt="" class="sprite like" src="img/like-off.png"/>
	            <p>38</p>
	            <img alt="" class="sprite dislike" src="img/dislike-off.png"/>
	        </div>
	    </div>
	    <div class="row comment-item">
	        <div class="col-10">
	            <p>Ya lleva un mes ahí :v </p>
	        </div>
	        <div class="col-2 interactions">
	            <img alt="" class="sprite like" src="img/like-off.png"/>
	            <p>26</p>
	            <img alt="" class="sprite dislike" src="img/dislike-off.png"/>
	        </div>
	    </div>
	</section>
</div>